<div id="titulo">
  <h1>{{titulo}}</h1>
  <h2>{{subtitulo}}</h2>
  <p>{{web}}</p>
</div>

<article class="sobre-mi">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie tellus a eros viverra, nec condimentum augue egestas. Nunc sit amet fringilla nunc. Etiam facilisis felis sed nunc sollicitudin, nec ornare ipsum lacinia. Donec in lobortis lorem. Ut tempus varius magna, a ullamcorper libero egestas eu. Aliquam vulputate lacus quis efficitur pretium. Fusce volutpat turpis non neque volutpat, ut facilisis urna dictum. Phasellus non quam fringilla sem scelerisque tempor in nec erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pharetra leo quam, nec volutpat libero lacinia sit amet. Aenean posuere vel nisi luctus rhoncus. 
  </p>
</article>
